
html,body
  font-family: 'Gotham-Light', 'sans-serif'
  margin: 0
  color: #555555

//Global
.stylized
  font-family: 'Great-day-personal-use','sans-serif'
  color: #4d3e6e

.no-gutter
  padding-left: 0
  padding-right: 0

#cover
  height: 100vh
  .container-fluid
    height: inherit
    .intro-cover
      position: relative
      top: 50%
      transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      background-image: url('img/cover-image.png')
      background-position: center center
      background-repeat: no-repeat
      padding: 400px 0
      background-size: 50%
      .intro-header
        .intro-text
          font-size: 34px
          text-align: center
      .intro-couple
        margin: 40px 0
        .intro-text
          font-size: 64px
          letter-spacing: 5px
          text-align: center
          .separator
            font-size: 38px
            font-family: "Gotham-Light","sans-serif"
      .intro-date
        .intro-text
          font-size: 24px
          text-align: center


#our-story
  position: relative
  height: 100vh
  background-color: #f8eef8
  .section-container
    height: inherit
    .left-section
      float: left
      height: inherit
      width: 50%
      padding-left: 15px
      padding-right: 15px
      .content-container
        position: relative
        top: 50%
        transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        .image-text
          height: 150px
          position: absolute
          left: 0
          right: 0
          margin-left: auto
          margin-right: auto
          z-index: 5
          top: 50%
          transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          -o-transform: translateY(-50%)
        .overlay
          height: 400px
          position: absolute
          width: 400px
          background-color: rgba(0,0,0,0.5)
          border-radius: 50%
          margin-left: auto
          margin-right: auto
          left: 0
          right: 0
        .couple-image
          margin: 30px 0
          .section-image
            height: 400px
            width: 400px
        .content-header
          display: block
          margin-left: auto
          margin-right: auto
    .right-section
      padding-left: 15px
      padding-right: 15px
      float: left
      width: 50%
      height: inherit
      .content-container
        position: relative
        top: 50%
        transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        .section-header
          display: table
          margin: 0 auto
          .section-image
            display: inline-block
            height: 50px
            margin-right: 5px
          .header-text
            display: inline-block
            font-size: 2.5em
            text-align: center
            letter-spacing: 5px
        .content-description
          margin: 50px 0
          .content-text
            color: black
            font-size: 18px
            line-height: 2.5em

#countdown
  position: relative
  margin: 70px auto
  padding: 30px 0
  background-color: white
  .section-header
    display: table
    margin: 0 auto
    .section-image
      display: inline-block
      height: 50px
      margin-right: 5px
    .header-text
      display: inline-block
      font-size: 2.5em
      text-align: center
      letter-spacing: 5px
  #clock
    .item-list
      margin: 30px 0
      .item-container
        position: relative
        border: 2px solid #4d3e6e
        border-radius: 50%
        padding: 75px 5px
        height: 220px
        width: 220px
        color: #8485c5
        margin: 0 auto
        text-transform: lowercase
        .countdown-name
          display: block
          text-align: center
          padding: 50px 0
          font-size: 28px
        .countdown-value
          position: relative
          display: block
          text-align: center
          margin-left: auto
          margin-right: auto
          .countdown-number
            font-size: 44px
            position: absolute
            top: 50%
            left: 0
            right: 0
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)

#wedding-detail
  position: relative
  height: 100vh
  background-color: #f8eef8
  .section-container
    height: inherit
    .left-section
      padding-left: 15px
      padding-right: 15px
      float: left
      width: 50%
      height: inherit
      .content-container
        position: relative
        top: 50%
        transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        .section-header
          display: table
          margin: 0 auto
          .section-image
            display: inline-block
            height: 50px
            margin-right: 5px
          .header-text
            display: inline-block
            font-size: 2.5em
            text-align: center
            letter-spacing: 5px
        .content-description
          margin: 50px 0
          text-align: center
          .section-content
            margin: 30px 0
            .section-title
              color: #5e4da3

    .right-section
      float: left
      height: inherit
      width: 50%
      padding-left: 15px
      padding-right: 15px
      .content-container
        position: relative
        top: 50%
        transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        .image-text
          height: 150px
          position: absolute
          left: 0
          right: 0
          margin-left: auto
          margin-right: auto
          z-index: 5
          top: 50%
          transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          -o-transform: translateY(-50%)
        .overlay
          height: 400px
          position: absolute
          width: 400px
          background-color: rgba(0,0,0,0.5)
          border-radius: 50%
          margin-left: auto
          margin-right: auto
          left: 0
          right: 0
        .couple-image
          padding: 10px 0
          .section-image
            height: 400px
            width: 400px
        .content-header
          display: block
          margin-left: auto
          margin-right: auto

#venue
  position: relative
  height: 700px
  .container-fluid
    height: inherit
    #map
      position: relative
      height: inherit
      #info-window-container
        width: 300px
        padding: 10px 15px 20px
        .section-header
          text-transform: capitalize
        .info-window-content
          address
            font-size: 16px
            line-height: 25px

#gallery
  padding-top: 50px
  padding-bottom: 50px
  .section-header
    display: table
    margin: 0 auto
    .section-image
      display: inline-block
      height: 50px
      margin-right: 5px
    .header-text
      display: inline-block
      font-size: 2.5em
      text-align: center
      letter-spacing: 5px
  .content-container
    margin-top: 50px
    .gallery-image-container
      overflow: hidden
      .gallery-image
        padding: 5px 10px
        object-fit: cover
        object-position: 50% 50%

#rsvp
  position: relative
  padding-top: 50px
  padding-bottom: 50px
  background-color: #f8eef8
  .section-header
    display: table
    margin: 0 auto 30px
    .section-image
      display: inline-block
      height: 50px
      margin-right: 5px
    .header-text
      display: inline-block
      font-size: 2.5em
      text-align: center
      letter-spacing: 5px
  #form-content
    .form-item
      max-width: 50%
      min-width: 50%
      margin: 30px auto
      .content-title
        padding-bottom: 5px
        font-size: 1.2em
        display: block
        color: #5e4da3
        text-transform: capitalize
      .content-input
        background-color: transparent
        outline: none
        border: 2px solid #5e4da3
        padding: 30px 22px
        border-radius: 12px
        box-shadow: none
        -webkit-box-shadow: none
        color: #5e4da3
      .content-number
        color: #5e4da3
        border: 2px solid #5e4da3
      .content-select
        padding: 0 22px
        height: 64px
        border: 2px solid #5e4da3
        border-radius: 12px
    .content-button-container
      margin: 50px auto
      max-width: 50%
      min-width: 50%
      #ss-submit
        color: white
        padding: 32px 30px
        line-height: 0
        border-radius: 12px
        border: none
        background-color: #5e4da3

.modal.fade
  .modal-dialog
    position: absolute
    top: 40%
    left: 0
    right: 0
    opacity: 0
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease


  &.in .modal-dialog
    margin-top: 0
    margin-bottom: 0
    position: absolute
    top: 40%
    opacity: 1
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)

/* DIALOG CONTENT
.modal-content
  border: none
  border-radius: 2px
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  padding: 8% 5%
  background-color: white
  .text-alert
    margin: 20px auto
    color: #a4a4a4
    text-align: center

@media (max-width: 1440px)
  #cover
    .container-fluid
      .intro-cover
        background-size: 60%
        .intro-header
          .intro-text
            font-size: 28px
        .intro-couple
          .intro-text
            font-size: 58px

  #our-story
    height: auto
    .section-container
      .left-section
        min-height: 100vh
        height: auto
        padding-top: 50px
        padding-bottom: 50px
        .content-container
          top: 0
          transform: none
          -ms-transform: none
          -o-transform: none
      .right-section
        min-height: 100vh
        padding-top: 50px
        padding-bottom: 50px
        height: auto
        .content-container
          top: 0
          transform: none
          -ms-transform: none
          -o-transform: none

@media (max-width: $screen-md-max)
  #cover
    .container-fluid
      .intro-cover
        background-size: 70%
        .intro-header
          .intro-text
            font-size: 24px
        .intro-couple
          margin: 30px 0
          .intro-text
            font-size: 48px
        .intro-date
          .intro-text
            font-size: 22px

@media (max-width: $screen-sm-max)
  #cover
    .container-fluid
      .intro-cover
        background-size: 95%
        .intro-couple
          .intro-text
            font-size: 54px

  #our-story
    .section-container
      .left-section
        width: 100%
        min-height: auto
      .right-section
        min-height: auto
        width: 100%

  #wedding-detail
    height: auto
    .section-container
      padding: 30px 0
      .left-section
        width: 100%
        .content-container
          padding: 20px 0
          top: 0
          transform: none
          -moz-transform: none
          -ms-transform: none
          -o-transform: none
          .image-text
            height: 150px
            position: absolute
            left: 0
            right: 0
            margin-left: auto
            margin-right: auto
            z-index: 5
            top: 50%
            transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
          .overlay
            height: 400px
            position: absolute
            width: 400px
            background-color: rgba(0,0,0,0.5)
            border-radius: 50%
            margin-left: auto
            margin-right: auto
            left: 0
            right: 0
          .couple-image
            margin: 30px 0
            .section-image
              height: 400px
              width: 400px
          .content-header
            display: block
            margin-left: auto
            margin-right: auto







