<div class="container no-gutter section-container">
    <div class="left-section">
        <div class="content-container">
            <div class="section-header">
                <img class="section-image" src="img/feather.png"/>
                <h2 class="header-text stylized">Wedding Details</h2>
            </div>
            <div class="content-description">
                <div class="section-content ceremony-section">
                    <h3 class="section-title">Ceremony</h3>
                    <h3>{{ site.wedding-details.ceremony.ceremony-day }}, {{ site.wedding-details.ceremony.ceremony-date }}</h3>
                    <h3>{{ site.wedding-details.ceremony.ceremony-time }}</h3>
                </div>
                <div class="section-content reception-section">
                    <h3 class="section-title">Reception</h3>
                    <h3>{{ site.wedding-details.reception.reception-day }}, {{ site.wedding-details.reception.reception-date }}</h3>
                    <h3>{{ site.wedding-details.reception.reception-time }}</h3>
                </div>
                <div class="section-content brunch-section">
                    <h3 class="section-title">Brunch</h3>
                    <h3>{{ site.wedding-details.brunch.brunch-day }}, {{ site.wedding-details.brunch.brunch-date }}</h3>
                    <h3>{{ site.wedding-details.brunch.brunch-time }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="content-container">
            <div class="top-border">
                <img class="img-responsive center-block section-image" src="img/top-flower.png"/>
            </div>
            <div class="couple-image">
                <div class="overlay"></div>
                <img  class="section-image img-circle img-responsive center-block" src="img/couple-bg.jpg">
                <img src="img/save-the-date-text.png" class="image-text"/>
            </div>
            <div class="bottom-border">
                <img class="img-responsive center-block section-image" src="img/bottom-flower.png"/>
            </div>
        </div>
    </div>
</div>
