<div class="container no-gutter section-container">
    <div class="left-section">
        <div class="content-container">
            <div class="top-border">
                <img class="img-responsive center-block section-image" src="img/top-flower.png"/>
            </div>
            <div class="couple-image">
                <div class="overlay"></div>
                <img  class="section-image img-circle img-responsive center-block" src="img/couple-bg.jpg">
                <img src="img/groom&bride-text.png" class="image-text"/>
            </div>
            <div class="bottom-border">
                <img class="img-responsive center-block section-image" src="img/bottom-flower.png"/>
            </div>
        </div>

    </div>
    <div class="right-section">
        <div class="content-container">
            <div class="section-header">
                <img class="section-image" src="img/feather.png"/>
                <h2 class="header-text stylized">Our Story</h2>
            </div>
            <div class="content-description">
                <p class="content-text">{{ site.our-story.content-description }}</p>
            </div>
        </div>
    </div>
</div>
